<a href="https://colab.research.google.com/github/yashikaYASHIKA/PAYROLL-Management-System/blob/main/PYTHON_SQL_PAYROLL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PAYROLL MANAGEMENT SYSTEM
import sqlite3

# Connect to DB
conn = sqlite3.connect('payroll.db')
cursor = conn.cursor()

# Create table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,
    name TEXT,
    basic_salary REAL
)
''')

# Insert sample data
cursor.execute("INSERT INTO employees (name, basic_salary) VALUES (?, ?)", ('Alice', 50000))
conn.commit()

# Salary calculation
def calculate_salary(emp_id):
    cursor.execute("SELECT name, basic_salary FROM employees WHERE emp_id=?", (emp_id,))
    row = cursor.fetchone()
    if row:
        tax = row[1] * 0.1
        net_salary = row[1] - tax
        print(f"Employee: {row[0]}, Net Salary: ₹{net_salary}")
    else:
        print("Employee not found.")

calculate_salary(1)
conn.close()

Employee: Alice, Net Salary: ₹45000.0